/* 
    Document   : portafolioProfesor
    Created on : 19-mar-2015, 18:20:17
    Author     : Legna Filloy
    Description:
        Purpose of the stylesheet follows.
*/

@font-face {
    font-family: 'DKCrayon';
    src: url('../fonts/DKCrayonCrumble.ttf');
    font-weight: normal;
    font-style: normal;
}

body{
     font-family: "Comic Sans MS";
}

.fileUpload {
    position: relative;
    overflow: hidden;

}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    width: 15em;
}
#cargarFoto{
    margin-left: 3em;
    margin-top: 2em;
    
}

#selecArchivo{
    font-size: 18px;
}

h2{
    font-family: "DKCrayon"; 
    margin-left: 1.5em;
    margin-top: 1em;
    font-weight: bold;

}

span{
    margin-left: 2em;
    font-size: 18px;
  
}

.margen{
    margin-top: 1em;
}
.grosor{
    width: 6em;
    height: 2em;
}

.grosor2{
    width: 10em;
    height: 2em;
    
}


