{# empty Twig template #}

<nav id="menu">
   
    <li style="background:#e4ba06"><a href="{{path('materia')}}">Materias</a></li>
    <li style="background:#e4ba06"><a href="{{path('profesores')}}">Profesores</a></li>

   
</nav>
