
<nav id="menuLateral">
          <ul>
            <li style="height: 4em; width: 14em;" ><a href="#"><p style=" margin-left: 3.3em;">Cronograma</p></a></li>
            <li style="height: 4em; width: 14em;"><a href="{{path('obtener_asignaciones',{'idPortafolio':seccion.portafolio.id})}}"><p style=" margin-left:3em;">Asignaciones</p></a></li>
            <li style="height: 4em; width: 14em;"><a href="{{ path('diarios',{'idPortafolio':seccion.portafolio.id})}}"><p style=" margin-left: 4.4em;">Diario</p></a></li>
            <li style="height: 4em; width: 14em;"><a href="{{path ('obtener_examenes',{'idSeccion':seccion.id})}}"><p style=" margin-left: 3.4em;">Exámenes</p></a></li>
            <li style="height: 4em; width: 14em;"><a href="{{path('ver_calificaciones_estudiante',{'idPortafolio':seccion.portafolio.id})}}"><p style=" margin-left: 2.7em;">Calificaciones</p></a></li>
            <li style="height: 4em; width: 14em;"><a href="#"><p style=" margin-left: 1.7em;">Material de Apoyo</p></a></li>
          
          
          </ul>
  </nav>


