/* 
    Document   : calendario
    Created on : 08-oct-2014, 9:12:23
    Author     : Legna Filloy
    Description:
        Purpose of the stylesheet follows.
*/
@font-face {
    font-family: 'DKCrayon';
    src: url('../fonts/DKCrayonCrumble.ttf');
    font-weight: normal;
    font-style: normal;
}

h2{
    font-family: "DKCrayon"; 
    margin-left: 0.2em;
    margin-top: 1.8em;
    font-weight: bold;
    margin-bottom: 1.5em;
}

