/* 
    Document   : diarios
    Created on : 10-sep-2014, 16:22:03
    Author     : Legna Filloy
    Description:
        Purpose of the stylesheet follows.
*/

@font-face {
    font-family: 'DKCrayon';
    src: url('../fonts/DKCrayonCrumble.ttf');
    font-weight: normal;
    font-style: normal;
}

h2{
    font-family: "DKCrayon"; 
   
    margin-top: 1em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

#seccionCrearDiario{  /*recuadro*/
    /*border: 0.2em solid #09ABF2;*/
    margin-top: 3.4em;
    width: 65em;
    height:40em;  
    padding:0;
    margin-left:14em;
    background: #FFF;
    border:#969896 0.2em solid;
    border-radius:0.5em;
    padding-left: 2em;
    padding-right: 2em;
}

.inputTitulo{
    margin-top: 0em;
    margin-bottom: 2em;
   
    width: 50em;
    
}

