/* 
    Document   : mapaMental
    Created on : 15-oct-2014, 10:38:35
    Author     : Legna Filloy
    Description:
        Purpose of the stylesheet follows.
*/

@font-face {
    font-family: 'DKCrayon';
    src: url('../fonts/DKCrayonCrumble.ttf');
    font-weight: normal;
    font-style: normal;
}

h2{
    font-family: "DKCrayon"; 
    margin-left: 1.5em;
    margin-top: 1em;
    font-weight: bold;
}

#seccionMapasMentales{
    border:#969896 0.2em solid;
    background: white;
    width: 65em;
    min-height: 35em;
    border-radius: 0.3em;
    border:#969896 0.2em solid;
    margin-left: 16em;
    margin-top: -2.5em;
}

#bCrearMapa{
    margin-top: 3.4em;
    margin-left: 3.5em;
}
