<!DOCTYPE html>
<html lang="es">
    <head>
 
    </head>
    <body>
        {% block body %}HOLAAA{% endblock %}
            <img src="" />
         
            
        {% block javascripts %}           
        {% endblock %}
    </body>
    
<footer> Evalúa UCAB 2015. Universidad Católica Andrés Bello</footer>
</html>
